@import './styles/index.scss';


.App {
    background: cornsilk;
    padding: 16px;
    @include borders (white, #999);
    
}
.Header {
    @include borders (#7b7b7b, white);
    background: cornsilk;
    padding: 10px 12px;
    border-width: 4px;
    border-style: solid;
    border-right-color: white;
    border-bottom-color: white;
    border-left-color: #7b7b7b;
    border-top-color: #7b7b7b;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.Body {
    @include borders (#7b7b7b, white);
    display: grid;
    grid-template-rows : repeat(9, 1fr);
    grid-template-columns : repeat(9, 1fr);
}   

.Face {
    @include borders;
    @include buttons;
    width: 50px;
    height: 50px;
    font-size: 37px;
    align-items: center;
    justify-content: center;
    display: flex;
    cursor: pointer;
}